<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="https://img.icons8.com/doodle/48/null/movie-theater.png"
    />
    <span>Meus EPS</span>
    <div class="spacer"></div>
    <div class="menu">
      <img
        src="https://img.icons8.com/clouds/100/null/user.png"
        alt="Foto do usuário"
      />
      <div class="menu-content">
        <a href="#">Perfil</a>
        <a href="#">Configurações</a>
        <a href="#">Sair</a>
      </div>
    </div>
  </div>